
*{
	font-family: 'ubuntu', Arial, Helvetica, sans-serif;
}
ul li{
	text-decoration: none;
	display: inline-block;
	float: right;
	margin: 10px;
	border: 2px solid white;
	color: white;
	padding: 5px 20px 5px 20px;
	background-color: transparent;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
	transition: 1s ease;
}



ul li:hover {
	text-decoration: none;
	display: inline-block;
	float: right;
	margin: 7px;
	border: 2px solid white;
	color: white;
	padding: 5px 20px 5px 20px;
	background-color: transparent;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 1.0) 10px 10px 10px;
	transition: 0.3s ease;

}